/* This style applies to mobile and up */
.hero-row {
    color: white;
    background-color: #2a385c;
}

.hero-row {
    background-color: #fff;
    background-image: url('/images/background-sm.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
}


@media (min-width: 768px) {}

@media (min-width: 992px) {
    .hero-row {
        background-color: #fff;
        background-image: url('/images/background.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0;
        background-position-x: 0;
    }

    .auth-background {
        background-image: url('/images/auth-background.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
    }



}

@media (min-width: 1200px) {}


.blueShadow {
    box-shadow: 1px 0px 58px 1px rgba(42, 98, 254, 0.48);
    -webkit-box-shadow: 1px 0px 58px 1px rgba(42, 98, 254, 0.48);
    -moz-box-shadow: 1px 0px 58px 1px rgba(42, 98, 254, 0.48);
}

.blob {
    background: rgb(24, 203, 92);
    border-radius: 50%;
    margin: 10px;
    height: 50px;
    width: 50px;

    box-shadow: 0 0 0 0 rgba(24, 203, 92, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(24, 203, 92, 0.7);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 20px rgba(24, 203, 92, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(24, 203, 92, 0);
    }
}

.small-white-pulse {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;

    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transform: scale(1);
    animation: pulse-white 2s infinite;

}

@keyframes pulse-white {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.flashBackground {
    animation: flash-background 2s;
}

@keyframes flash-background {
    0% {
        background-color: rgba(255, 255, 255, 0.3);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}