/* This style applies to mobile and up */
.hero-row {
    color: white;
    background-color: #2a385c;
}

.hero-row {
    background-color: #fff;
    background-image: url('/images/xs-2.svg');
    /*background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1 Basic//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11-basic.dtd'%3E%3Csvg viewBox='0 0 100 37' xmlns='http://www.w3.org/2000/svg' style='position:absolute; z-index: -100;' class='header'%3E%3Cdefs%3E%3ClinearGradient id='gradientOrangeToPink' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='80%25' style='stop-color:%237200ff;stop-opacity:1' %3E%3C/stop%3E%3Cstop offset='100%25' style='stop-color:%231c5aff;stop-opacity:1' %3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg%3E%3Crect x='0' y='0' width='195' height='47' rx='15' ry='15' fill='url(%23gradientOrangeToPink)' transform='translate(-95 -23) skewX(4) skewY(4)'%3E%3C/rect%3E%3Crect x='0' y='0' width='122' height='43' rx='15' ry='15' fill='%232a385c' transform='translate(-20 -17) skewX(4) skewY(4)'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E%0A");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
}

.home {
    background-color: #fff;
}

.dark-blue {
    background-color: #1a335d;
}

.bright-blue-background {
    background-color: #0080ff;
}

.font-white {
    color: #fff;
}

.gray-background {
    background-color: #e5e5e5;
}

.light-gray-background {
    background-color: #f0f0f0;
}

@media (min-width: 600px) {
    .hero-row {
        background-color: #fff;
        background-image: url('/images/xs-2.svg');
        /*background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1 Basic//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11-basic.dtd'%3E%3Csvg viewBox='0 0 100 37' xmlns='http://www.w3.org/2000/svg' style='position:absolute; z-index: -100;' class='header'%3E%3Cdefs%3E%3ClinearGradient id='gradientOrangeToPink' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='50%25' style='stop-color:%237200ff;stop-opacity:1' %3E%3C/stop%3E%3Cstop offset='100%25' style='stop-color:%231c5aff;stop-opacity:1' %3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg%3E%3Crect x='0' y='0' width='195' height='47' rx='15' ry='15' fill='url(%23gradientOrangeToPink)' transform='translate(-95 -23) skewX(4) skewY(4)'%3E%3C/rect%3E%3Crect x='0' y='0' width='122' height='43' rx='15' ry='15' fill='%232a385c' transform='translate(-20 -17) skewX(4) skewY(4)'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E%0A");*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
        background-position-x: right;
    }
}

@media (min-width: 900px) {
    .hero-row {
        background-color: #fff;
        /*background-image: url('/images/background-5.svg');*/
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 100 37' style='position:absolute; z-index: -100;' class='header' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='gradientOrangeToPink' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='0.5' style='stop-color:%236e19ff;stop-opacity:1'/%3E%3Cstop offset='1' style='stop-color:%231261ff;stop-opacity:1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg%3E%3Crect width='88.83' height='68.125' rx='15' ry='5' fill='url(%23gradientOrangeToPink)' transform='matrix(0.986946, 0.16105, -1.158189, 0.824233, 42.37867, -31.957518)' style=''/%3E%3Crect width='89.788' height='67.088' rx='15' ry='5' fill='%232a385c' transform='matrix(0.988061, 0.154062, -1.168552, 0.829878, 46.645386, -33.998272)' style=''/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 0;
    }
}

@media (min-width: 1200px) {}


.blueShadow {
    box-shadow: 1px 0px 58px 1px rgba(42, 98, 254, 0.48);
    -webkit-box-shadow: 1px 0px 58px 1px rgba(42, 98, 254, 0.48);
    -moz-box-shadow: 1px 0px 58px 1px rgba(42, 98, 254, 0.48);
}

.blob {
    background: rgb(24, 203, 92);
    border-radius: 50%;
    margin: 10px;
    height: 50px;
    width: 50px;

    box-shadow: 0 0 0 0 rgba(24, 203, 92, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(24, 203, 92, 0.7);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 20px rgba(24, 203, 92, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(24, 203, 92, 0);
    }
}

.small-white-pulse {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;

    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transform: scale(1);
    animation: pulse-white 2s infinite;

}

@keyframes pulse-white {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.flashBackground {
    animation: flash-background 2s;
}

@keyframes flash-background {
    0% {
        background-color: rgba(255, 255, 255, 0.3);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.large-icon {
    transform: scale(3);
}
